<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homeFunction.css">
    <title>Practice page</title>
</head>
<body>
    <h1>To-Do App</h1>
    <form id="ourForm">
        <input type="text" name="input" id="ourField">
        <button>Create-Item</button>
    </form>
    <h3>Need to do</h3>

    <ul id="ourList">
        
        
        
    </ul>

    <script type="text/javascript" src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
    <script src="homeFunction_client.js"></script>
</body>
</html>